@font-face {
    font-family: "Roboto Mono";
    font-display: swap;
    src: url("../fonts/RobotoMono-Medium.ttf") format("truetype");
}

body {
    background-color: #1d6d86;
    font-family: "Roboto Mono", monospace;
    padding: 0;
}

.text-border {
    -webkit-text-stroke: 1.5px black;
    text-stroke: 1.5px black;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
}

.item {
    cursor: pointer;
    width: 225px;
    height: 225px;
    float: left;
    margin: 10px;
    padding: 50px;
    border: 5px solid black;
    font-size: 30px;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}